* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

/*Header Section  */
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;

}

.main {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 20%;
    height: 80%;
    background-color: red;
}

.logo img {
    height: 100%;
    width: 100%;
}

.menubar {
    width: 70%;
    height: 100%;
    font-size: 12px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menubar ul {
    display: inline-flex;
    list-style: none;
    width: 100%;
    height: 100%;
    align-items: center; 
    justify-content: center;   
}

.menubar ul li {
    width: auto;
}

.nav-text {
    width: auto;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    position: relative;
    transition: 0.4s linear;
    padding:1em ;
}

.menubar .nav-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background-color: #F4720E;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s ease;
}

.menubar .nav-text:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    color: black;
}

.Dropdown {
    display: none;
    text-align: left;
}

.Dropdown ul {
    width: auto;
    height: auto;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 65px;
    transition: all 0.9s ease-in-out;
}
.Dropdown ul li {
    padding: 10px 20px 10px 20px;
}
.dropdown-text{
    text-decoration: none;
    color: black;
    transition: 0.3s linear;
}
.dropdown-text:hover {
    color: #F4720E;
}
.main ul li:hover .Dropdown {
    display: block;
    text-align: left;
}
.info{
    width: 10%;
    height: 50%;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-dot{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
}
.dot-lines{
width: 25px;
height: 2px;
background-color: black;
}
.dot-lines:nth-child(3){
    width: 10px;
    transition: 0.4s linear;
}
.dot-lines:hover{
    width: 25px;;
}
/* Services-section  */

#Services {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 50px;
}

.section-head {
    color: #F4720E;
    font-size: 40px;
    font-weight: 200;
}

.service-box {
    width: 95%;
    height: 40em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 33% 33% 33% auto;
    gap: 20px;
}
.service-info {
    width: 100%;
    height: 100%;
    background-color: lightyellow;
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    position: relative;
}

.service-info img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.img-details {
    width: 100%;
    height: 100px;
    font-size: 20px;
    font-weight: 500;
    align-content: center;
    padding: 5px 10px 5px 10px;
    background: #000000d2;
    color: aliceblue;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.3s linear;
    box-shadow: 0 -10px 30px -10px #000000b3;
}

.service-info:hover .img-details,
.service-info:focus-within .img-details {
    opacity: 0.9;
    transform: translateY(0);
}
